
<div class="mx-auto">
  <div class="text-center">T
    <h1 style="font-family:sans-serif;">Learning Karaoke</h1>
  </div>

  <div class="text-center">
    <div *ngIf="videoEnd">
    <video width="800" height="320" autoplay="autoplay" controls="controls" id="videoId" (ended)="onVideoEnded()">
      <source src="assets/Rain, Rain, Go Away - Free Karaoke Nursery Rhymes with Lyrics.mp4" type="video/mp4">
    </video>
    </div>
  <div *ngIf="!videoEnd">
    <video width="800" height="320" autoplay="autoplay" controls="controls" id="videoId" (ended)="onVideoEnded()">
      <source src="assets/Rain Rain Go Away - CoComelon Nursery Rhymes & Kids Songs.mp4" type="video/mp4">
    </video>
  </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->

<div style="margin: 100px;">
  <h1>Voice recognition</h1>
  <button class="btn btn-success" style="margin: 10px;" (click)="startService()">Start</button>
  <button class="btn btn-warning" style="margin: 10px;" (click)="stopService()">Stop</button>
  
  <div *ngIf="voiceRecognition == true">
    <p>{{service.text}}</p>
  </div>
 
</div>